.navbar {
  display: flex;
  gap: 4px;
  padding: 2rem;
  align-items: center;

}
button {
  border-radius: unset;
  border: solid 3px;
  box-shadow: black 4px 4px;
  margin: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 5rem;
  height: 2rem;
}

button:active {
  border: solid 3px;
  box-shadow: none;
  transform: translate(3px, 3px);
}


input.text-entry {
  background: #cc9d7c;
  border-radius: unset;
  border: solid 3px;
  margin: 2px;
  width: fit-content;
  font-weight: bold;
  /* width: 270px; */
  height: 1.6rem;
  /* box-shadow: black 4px 4px 0px; */
}

textarea.text-entry {
  background: #cc9d7c;
  border-radius: unset;
  border: solid 3px;
  margin: 2px;
  height: 1.5rem;
  font-weight: bold;
  resize: vertical;
  /* resize: none; */
  max-height: 8rem;
  overflow: auto;
}
textarea:focus {
  outline: none;
}

input:focus,
.text-enty {
  outline: none;
}


.btn-del {
  width: 5rem;
  height: 1.5rem;
  background: #d97777;
}
.btn-edit {
  width: 5rem;
  height: 1.5rem;
  background: #4cbab5;
}
.btn-add {
  /* justify-self: center; */
  align-self: self-end;
  background: #248787;
}
.box {
  background: #dbca8c;
  /* background: #cc9d7c; */
  /* background: #2a8787;; */
  border: solid 2px;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 400px;
  box-shadow: black 20px 20px 0px;
  scroll-behavior: smooth;
}

hr {
  width: 350px;
  border: solid 3px black;
  border-style: none none dashed;
}


.task-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* justify-content: center; */
  align-items: center;
}


label {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  transform: translateY(10px);
  margin-right: 20px;
  width: 14rem;
  word-wrap: break-word;
  cursor: pointer;
}
