body {
  scroll-behavior: unset;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 0px;
  background: #2a8787;
  /* background: #cc9d7c;  */
}
